    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Beer</span> Advent 
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#today">Today's Selection</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#comingup">Coming up...</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">'Tis the season</h1>
                        <p class="intro-text">We wish you a beer-y Christmas<br>And a hoppy New Year</p>
                        <a href="#today" class="btn btn-circle page-scroll pulse">
                            <i class="fa fa-angle-double-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Today Section -->
    <section id="today" class="today-section container content-section text-center">    
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <%= render "layouts/#{@season}" %> 
             </div>
        </div>
    </section>

    <!-- Coming Up Section-->
    <section id="comingup" class="pre-coming-soon-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Coming soon...</h2>
                    <% if @tomorrow_event %> 
                      <p>Tomorrow's beer will be selected by <%= @tomorrow_user.name %>. Get ready.</p>
                  <!-- Cool link you don't really need 
                    <a href="https://github.com/blackfyre/grayscale-sass/" class="btn btn-default btn-lg">Visit the Download Page</a>
                  --> 
                    <% else %> 
                      <p>Nobody signed up for tomorrow, but there's always something to look forward to!<br> 
                        Check back here tomorrow to see what the future holds. </p> 
                    <% end %> 
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Beer Advent</h2>
                <p>The beer advent calendar is this thing where 24 people each buy a case of beer, and then mix and match them so everyone ends up with 24 different beers. It can be yours right now, simply find 23 friends and get some brewskis.</p>
                <p>This site was created as a personal project to spread holiday cheer to my beer-loving friends. You can check out my other stuff <a target="_blank" href="https://www.github.com/ldgarber">here.</a></p>
            </div>
        </div>
    </section>

    <!-- Map Section (hide for now) 
    <div id="map"></div>
    --> 


    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Leah D. Garber 2016</p>
        </div>
    </footer>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ 
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script> --> 

    <!-- Custom Theme JavaScript -->
    <script src="js/main.min.js"></script>


