<h2>About Beer Advent</h2>
<p>The beer advent calendar is this thing where 24 people each buy a case of beer, and then mix and match them so everyone ends up with 24 different beers. It can be yours right now, simply find 23 friends and get some brews.</p>
<p>This site was created as a personal project to spread holiday cheer to my beer-loving friends. You can check out my other stuff <a href="https://www.github.com/ldgarber" target='_blank'>here.</a></p>

