<% @counter = today.mday %> 

<h2>Today's Selection: Day <%= @counter %></h2>
<% if event %>
  <% @beer = event.beer %> 
  <% @user = event.user %>
  <p>Today's beer is the fabulous <%= @beer.name %> .</p>
  <p><%= @beer.description %></p>
  <p>It was selected by <%= @user.name %>, and it is delicious.</p>
  <p>Enjoy!</p>
<% else %> 
  <p>No beer today :( Drink yer own!</p> 
<% end %> 

<% if @counter == 24 %>
  <p>Happy Christmas Eve!!</p>
<% end %> 

